## mpd2irc example configuration
##
## Commented values are defaults
## Strings have to be quoted using single or double quotes

## MPD settings
## server can be a hostname or UNIX domain socket

[mpd]
#server = localhost
#password = 
#port = 6600

## IRC connection settings
##
## server and channel are required

[irc]
server = 
#use_ssl = false
#password = 
channel = 
#nick = mpd2irc
#realname = mpd2irc 0.2.0
#username = 

## IRC authentication
##
## Authentication is disabled when authserv is empty.

[irc-auth]
#authserv = nickserv
#string = 

## die password
##
## This password is used to kill the bot from IRC,
## set it to something more secure.

[general]
#die_password = secret
